<style>
p{

    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    text-align: center;
}
body
{
    background-color: rgba(0, 0, 0, 0.307);

}
h1
{
    font-style: italic;
    text-shadow: 1px 1px 3px #ffb700;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0):
}
</style>